<div class="document-list-container">
  <ng-container *ngIf="documents.length > 0; else noDocumentsTemplate">
    <div
      class="table-container"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="300"
      [infiniteScrollDisabled]="loadedAll"
      (scrolled)="onScroll()"
    >
      <div>
        <table>
          <thead>
            <tr>
              <th>Icon</th>
              <th>Name</th>
              <th>Uploaded At</th>
              <th>Last Opened</th>
              <th>Size</th>
              <th>Owned By</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of documents">
              <td>
                <img
                  [src]="getIcon(doc.document.mimetype)"
                  alt="Document Icon"
                  class="icon"
                  (click)="viewDocument(doc.id)"
                  style="cursor: pointer"
                />
              </td>
              <td
                (click)="viewDocument(doc.id)"
                style="cursor: pointer"
                class="document-name"
              >
                {{ doc.document.originalname }}
              </td>
              <td>{{ doc.uploadedAtLocal | date: "d MMM, yyyy, h:mm a" }}</td>
              <td>{{ doc.lastOpenedLocal | date: "d MMM, yyyy, h:mm a" }}</td>
              <td>{{ doc.fileSize }}</td>
              <td>
                {{ doc.email }}
                <i
                  class="star-icon"
                  [ngClass]="
                    doc.starred ? 'pi pi-star-fill text-warning' : 'pi pi-star'
                  "
                  (click)="starDocument(doc, $event)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #noDocumentsTemplate>
    <div class="no-documents">
      <p>No shared documents available.</p>
    </div>
  </ng-template>
</div>
