
/node_modules
/acme

# Build output
/dist
/certs
/meili_data
/postgres_data

# Environment variables
/.env

# Logs
*.log

# Operating System files
Thumbs.db
.DS_Store

# Editor Configurations
.vscode/

# Data
/uploads
/meili_data
/postgres_data
/acme/yashank.bhola%40mail.utoronto.ca
