<div class="dashboard">
  <div class="main-container">
    <main class="main-content">
      <section class="files-section">
        <div class="section-header">
          <h2>Home</h2>
        </div>
        <div class="files-grid">
          <div
            class="file-card"
            *ngFor="let file of files"
            (click)="OnFolderClick(file.title)"
          >
            <div class="file-icon">
              <i class="pi {{ file.icon }}" style="color: slateblue"></i>
            </div>
            <div class="file-info">
              <h3>{{ file.title }}</h3>
              <p>{{ file.date }}</p>
            </div>
            <div class="file-meta">
              <p>Shared Users: {{ file.sharedUsers }}</p>
              <p>Inside Files: {{ file.insideFiles }}</p>
            </div>
          </div>
        </div>
      </section>

      <section class="suggestions-section">
        <h2>Suggestions</h2>
       <div class="suggestions-list">
          <div class="file-info">
            <app-doc-card
              *ngFor="let doc of documents"
              [document]="doc"
            ></app-doc-card>
          </div>
        </div> 
      </section>
      
    </main>
  </div>
</div>
