
  <div class="dashboard">
    <div class="main-container">
      <main class="main-content">
        <section class="files-section">
          <div class="section-header">
            <h2>All files</h2>
          </div>
          <div class="files-grid">
            <div class="file-card" *ngFor="let file of files" (click)="OnFolderClick()">
              <div class="file-icon">
                <i class="pi {{ file.icon}}" style="color: slateblue"></i>
              </div>
              <div class="file-info">
                <h3>{{ file.title }}</h3>
                <p>{{ file.date }}</p>
              </div>
              <div class="file-meta">
                <p>Shared Users: {{ file.sharedUsers }}</p>
                <p>Inside Files: {{ file.insideFiles }}</p>
              </div>
            </div>
          </div>
        </section>
        <section class="suggestions-section">
          <h2>Suggestions</h2>
          <!-- <div class="suggestions-list">
            <div class="suggestion-item" *ngFor="let suggestion of suggestions">
              <div class="file-icon">
                <img [src]="suggestion.icon" alt="File Icon">
              </div>
              <div class="file-info">
                <h3>{{ suggestion.title }}</h3>
                <p>Shared Users: {{ suggestion.sharedUsers }}</p>
                <p>File Size: {{ suggestion.size }}</p>
                <p>Last Modified: {{ suggestion.lastModified }}</p>
              </div>
            </div>
          </div> -->
          <app-doc-card *ngFor="let doc of documents" [document]="doc"></app-doc-card>
        </section>
        <!-- <section class="suggestions-section">
          <h2>Recently Uploaded</h2>
          <div class="suggestions-list">
            <div class="suggestion-item" *ngFor="let suggestion of suggestions">
              <div class="file-icon">
                <img [src]="suggestion.icon" alt="File Icon">
              </div>
              <div class="file-info">
                <h3>{{ suggestion.title }}</h3>
                <p>Shared Users: {{ suggestion.sharedUsers }}</p>
                <p>File Size: {{ suggestion.size }}</p>
                <p>Last Modified: {{ suggestion.lastModified }}</p>
              </div>
            </div>
          </div>
        </section> -->
      </main>
    </div>
  </div>

