$sidebar-width: 250px;
$header-height: 0px;

.dashboard {
  display: flex;
}

.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  position: fixed;
  top: $header-height; /* Positioning the sidebar below the header */
  height: calc(100% - $header-height); /* Adjust height to account for the header */
  width: $sidebar-width;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    img {
      width: 100%;
    }

    span {
      font-size: 24px;
      font-weight: bold;
      margin-left: 10px;
    }
  }

  nav {
    flex-grow: 1;
    margin: 20px 0;

    .sidebar-item {
      padding: 10px 5px;
      font-size: 18px;
      display: flex;
      align-items: center;
      color: #333;

      &:hover {
        color: #007bff;
        background-color: #d3d3d3;
      }
    }
  }

  .storage {
    margin-top: auto;
    p {
      font-size: 14px;
      color: #666;
    }
    a {
      font-size: 14px;
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.main-container {
  margin-left: $sidebar-width;
  width: calc(100% - $sidebar-width);
  margin-top: $header-height; /* Adjust margin to account for the header */
}

.header {
  height: $header-height;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  .search-bar {
    width: 300px;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .user-profile {
    display: flex;
    align-items: center;

    .avatar {
      margin-right: 10px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: #ccc;
    }
  }
}

.main-content {
  padding: 20px;
  background-color: #f4f5f7;

  .files-section,
  .suggestions-section,
  .recent-files-section {
    margin-bottom: 20px;
  }

  .files-section {
    .section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin-bottom: 20px;
      }

      .add-new {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    .files-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .file-card {
        background-color: #fff;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        width: calc(33.333% - 20px);
        transition: background-color 0.3s ease;
        

        .file-icon {
          img {
            width: 40px;
            height: 40px;
          }
        }

        .file-info {
          margin-top: 10px;

          h3 {
            margin: 0;
            font-size: 16px;
          }

          p {
            margin: 5px 0 0;
            font-size: 14px;
            color: #666;
          }
        }

        .file-meta {
          margin-top: 10px;

          p {
            margin: 5px 0;
            font-size: 12px;
            color: #666;
          }
        }
      }

      .file-card:hover {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        background-color: #f1f1f1;
      }
    }
  }

  .suggestions-section {
    h2 {
      margin: 0 0 20px;
    }

    .suggestions-list {
      .suggestion-item {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;

        .file-icon {
          margin-right: 10px;

          img {
            width: 40px;
            height: 40px;
          }
        }

        .file-info {
          h3 {
            margin: 0;
            font-size: 16px;
          }

          p {
            margin: 5px 0 0;
            font-size: 14px;
            color: #666;
          }
        }
      }
    }
  }

  .recent-files-section {
    h2 {
      margin: 0 0 20px;
    }

    .recent-files-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .recent-file-item {
        width: 80px;
        height: 80px;
        background-color: #fff;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
