<div class="sidebar">
    <!-- <div class="logo">
      <i class="material-icons">cloud</i>
      <span>DriveApp</span>
    </div> -->
    <ul class="menu">
      <li class="sidebar-item"><i class="material-icons">home</i> Home</li>
      <li class="sidebar-item"><i class="material-icons">folder</i> My Drive</li>
      <li class="sidebar-item"><i class="material-icons">people</i> Shared with me</li>
      <li class="sidebar-item"><i class="material-icons">access_time</i> Recent</li>
      <li class="sidebar-item"><i class="material-icons">star</i> Starred</li>
      <li class="sidebar-item"><i class="material-icons">delete</i> Trash</li>
      <li class="sidebar-item"><i class="material-icons">settings</i> Settings</li>
    </ul>
    <div class="storage-info">
      <p>0 MB of 500 MB used</p>
      <a href="#">Manage storage</a>
    </div>
  </div>
  