<div class="sidebar">
      <div class="logo">
      <div class="logo-icon">
        <img src="../../..//public/logo.png" alt="Logo" class="logo-img" />
      </div>
      <div class="logo-name">
        <h3>Lifomation</h3>
      </div>
    </div>
  <ul class="menu">
    <a routerLink="/dashboard"
      ><li [class.active]="isRouteActive('/dashboard')" class="sidebar-item">
        <i class="material-icons">home</i> Home
      </li></a
    >
    <a routerLink="/documents"
      ><li [class.active]="isRouteActive('/documents')" class="sidebar-item">
        <i class="material-icons">folder</i> My Drive
      </li></a
    >
    <a routerLink="/"
      ><li class="sidebar-item">
        <i class="material-icons">people</i> Shared with me
      </li></a
    >
    <a routerLink="/recent"
      ><li [class.active]="isRouteActive('/recent')" class="sidebar-item">
        <i class="material-icons">access_time</i> Recent
      </li></a
    >
    <a routerLink="/">
      <li class="sidebar-item">
        <i class="material-icons">star</i> Starred
      </li></a
    >
    <a routerLink="/"
      ><li class="sidebar-item">
        <i class="material-icons">delete</i> Trash
      </li></a
    >
    <a routerLink="/"
      ><li class="sidebar-item">
        <i class="material-icons">settings</i> Settings
      </li></a
    >
  </ul>
  <div class="storage-info">
    <p>0 MB of 500 MB used</p>
    <a href="#">Manage storage</a>
  </div>
</div>
