<div class="credits-container">
  <button class="back-btn" (click)="goBack()">Back to Home</button>
  <h2>Credits</h2>
  <ul>
    <li>Angular - <a href="https://angular.io/">https://angular.io/</a></li>
    <li>
      PrimeNG -
      <a href="https://www.primefaces.org/primeng/"
        >https://www.primefaces.org/primeng/</a
      >
    </li>
    <li>
      PrimeIcons -
      <a href="https://www.primefaces.org/primeicons/"
        >https://www.primefaces.org/primeicons/</a
      >
    </li>
    <li>
      APACHE Tika -
      <a href="https://tika.apache.org/">https://tika.apache.org/</a>
    </li>
    <li>
      Meilisearch -
      <a href="https://www.meilisearch.com/">https://www.meilisearch.com/</a>
    </li>
    <li>
      Tesseract -
      <a href="https://github.com/tesseract-ocr/tesseract"
        >https://github.com/tesseract-ocr/tesseract</a
      >
    </li>
    <li>
      PDF icon -
      <a href="https://www.flaticon.com/free-icon/pdf_337946"
        >https://www.flaticon.com/free-icon/pdf_337946</a
      >
    </li>
    <li>
      Docs icon -
      <a href="https://www.flaticon.com/free-icon/google-docs_5968517"
        >https://www.flaticon.com/free-icon/google-docs_5968517</a
      >
    </li>
    <!-- Add any other libraries or resources you need to credit -->
  </ul>
</div>
