$sidebar-width: 250px;
$header-height: 0px;

.dashboard {
  // display: flex;
  background-color: #f8fafd;
  height: 100%; /* Ensures the background covers the entire viewport height */
  width: 100%; /* Ensures the background covers the entire viewport width */ /* Fixes the background in place */
  // top: 0; /* Aligns the background to the top of the viewport */
  // left: 0; /* Aligns the background to the left of the viewport */
  // z-index: -1; /* Places the background behind other content */
}

.main-container {
  background-color: #f4f5f7;
  border-radius: 20px;
  margin-left: $sidebar-width;
  // width: calc(100% - $sidebar-width);
  margin-top: $header-height; /* Adjust margin to account for the header */
  // display: flex;
}

.main-content {
  padding: 20px;
  background-color: #f4f5f7;
  border-radius: 20px;
  min-height: 100vh;

  .recent-files-section {
    margin-bottom: 20px;
  }


  
  .recent-files-section {
    h2 {
      margin: 0 0 20px;
    }

    .recent-files-list {
      .suggestion-item {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        margin-right: 20px;

        .file-icon {
          margin-right: 10px;

          img {
            width: 40px;
            height: 40px;
          }
        }

        .file-info {
          h3 {
            margin: 0;
            font-size: 16px;
          }

          p {
            margin: 5px 0 0;
            font-size: 14px;
            color: #666;
          }
        }
      }
    }
    .file-info {
      h3 {
        margin: 0;
        font-size: 16px;
      }

      p {
        margin: 5px 0 0;
        font-size: 14px;
        color: #666;
      }
    }
  }


}


