.document-view-container {
  background-color: #f8fafd;
  text-align: center;
  margin: 50px auto;
  margin-left: 25%;
  width: 70%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.key-info-container {
  margin-top: 20px;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
}

.key-info-container h3 {
  margin-bottom: 10px;
}

.key-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.key-info-item strong {
  width: 100px;
  font-weight: bold;
}

.key-info-item span {
  flex: 1;
  margin-left: 10px;
}

.copy-button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 12px;
  color:  rgb(6, 177, 244);;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.copy-button:disabled {
  background-color:  rgb(6, 177, 244);;
  color: white;
  cursor: not-allowed;
}

.copy-button:hover:not(:disabled) {
  background-color: #e0e0e0;
}

.edit-button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 12px;
  color: white;
  background-color:  rgb(6, 177, 244);;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.edit-button:hover {
  background-color: #006DD3;
}