$sidebar-width: 250px;
$header-height: 0px;

.dashboard {
  background-color: #f8fafd;
  height: 100%;
  width: 100%;
}

.main-container {
  background-color: #f4f5f7;
  border-radius: 20px;
  margin-left: $sidebar-width;
  margin-top: $header-height;
}

.main-content {
  padding: 20px;
  background-color: #f4f5f7;
  border-radius: 20px;
  min-height: 100vh;
}

.document-view-container {
  background-color: #f8fafd;
  text-align: center;
  margin: 50px auto;
  margin-left: 25%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.share-document-container,
.add-key-info-container {
  margin-top: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;

  h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 5px;
        font-weight: bold;
        color: #555;
      }

      input,
      select {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      input:focus,
      select:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }

    .share-button,
    .add-button {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
    .cancel-button {
      border-radius: 4px; /* Rounded corners */
      border: none; /* Remove border color */
      background-color: transparent;
      color: red;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
    }
    
    .cancel-button:hover {
      background-color: #e0e0e0; /* Add hover background color */
    }
  }

  .share-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;

    &.success {
      background-color: #28a745;
      color: #fff;
    }

    &.error {
      background-color: #dc3545;
      color: #fff;
    }
  }
}
@media (max-width: 768px) {
  .main-container {
    margin-left: 0;
    width: 100%;
  }

  .document-view-container {
    margin-left: 0;
    width: 100%;
  }
}
.key-info-container {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;

  .key-info-container h3 {
    margin-bottom: 10px;
  }

  .key-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    word-break: break-word;
  }

  .key-info-item strong {
    width: 100px;
    font-weight: bold;
    word-wrap: break-word;
    hyphens: auto;
    // max-width: 900px; /* Adjust as needed */
    word-break: break-word;
  }

  .key-info-item span {
    flex: 1;
    margin-left: 10px;
    word-wrap: break-word;
    hyphens: auto;
    max-width: auto; /* Adjust as needed */
    word-break: break-word;
  }

  .key-info-item input {
    flex: 1;
    margin-left: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }

  .copy-button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    color: rgb(6, 177, 244);
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .copy-button:disabled {
    background-color: rgb(6, 177, 244);
    color: white;
    cursor: not-allowed;
  }

  .copy-button:hover:not(:disabled) {
    background-color: #e0e0e0;
  }

  .edit-button,
  .save-button,
  .cancel-button,
  .delete-button {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    background-color: rgb(6, 177, 244);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .edit-button:hover {
    background-color: #006dd3;
  }

  .save-button {
    color: green;
    background-color: transparent;
  }

  .cancel-button {
    border-radius: 4px; /* Rounded corners */
    border: none; /* Remove border color */
    background-color: transparent;
    color: red;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .cancel-button:hover {
    background-color: #e0e0e0; /* Add hover background color */
  }

  .delete-button {
    color: red;
    background-color: transparent;
  }

  .delete-button:hover {
    background-color: #e0e0e0;
  }

  .save-button:hover,
  .cancel-button:hover {
    background-color: #e0e0e0;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .document-name {
    flex-grow: 1;
    font-size: 1.5em; /* Same as h2 */
    font-weight: bold; /* Same as h2 */
    margin: 0.75em 0;
  }

  .modal-icons {
    display: flex;
    align-items: center;

    .pi {
      padding: 0.5rem 1rem;
      font-size: 14px;
      font-weight: 500;
      background-color: rgb(6, 177, 244); /* Adjust as needed */
      color: #e0e0e0;
      border: none;
      margin-right: 10px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #006dd3; /* Adjust as needed */
      }
    }
  }
}

.key-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    flex-grow: 1;
    font-size: 1.5em; /* Same as h2 */
    font-weight: bold; /* Same as h2 */
    margin: 0.75em 0;
  }

  .pi {
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 500;
    background-color: #e0e0e0; /* Adjust as needed */
    color: rgb(6, 177, 244);
    border-color: rgb(6, 177, 244);
    border: none;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(6, 177, 244);
      color: #fff;
    }
  }
}
