<div *ngIf="!loading">
  <div class="document-view-container">
    <h2>{{ document.document.originalname }}</h2>

    <!-- Document Display -->
    <div *ngIf="documentType !== 'pdf'">
      <p-image
        [src]="documentUrl"
        alt="Document Image"
        width="700px"
        height="700px"
        [preview]="true"
      />
    </div>
    <div *ngIf="documentType === 'pdf'">
      <embed
        [src]="documentUrl"
        type="application/pdf"
        width="700px"
        height="700px"
      />
    </div>

    <!-- Key Information Display -->
    <div class="key-info-container">
      <h3>Key Information</h3>
      <div *ngIf="keyInfo">
        <div *ngFor="let key of keyInfoKeys()" class="key-info-item">
          <strong>{{ key }}:</strong>
          <span>{{ keyInfo[key] }}</span>
          <button
            (click)="copyToClipboard(keyInfo[key], key)"
            class="copy-button"
            [disabled]="copiedKey === key"
          >
            {{ copiedKey === key ? "Copied!" : "Copy" }}
          </button>
          <button class="edit-button" (click)="editKeyInfo(key)">
            <i class="pi pi-pencil"></i> <!-- PrimeNG pencil icon -->
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <p>Loading document...</p>
</div>
