.upload-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  input[type="file"] {
    margin-bottom: 1rem;
    margin-right: 30px;
  }

  ::ng-deep .p-fileupload-buttonbar {
    display: none;
  }

  .flex {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.btn {
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  background-color: #006dd3;
  color: #ffffff;
  margin-right: 30px;
  &:hover {
    background-color: rgb(6, 177, 244);
    transform: translateY(-2px);
  }
}

  .cancelbtn {
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
    background-color: #d3000e;
    color: #ffffff;
    margin-right: 30px;
    &:hover {
      background-color: rgb(223, 72, 92);
      transform: translateY(-2px);
    }
  
}

.progress{
  height: inherit; /* Full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: inherit;
}
