<div class="documents-container">
  <aside class="sidebar">
    <div class="logo">
      <img src="" alt="Logo" />
    </div>
    <nav>
      <ul>
        <li class="sidebar-item">Priority</li>
        <a class="sidebar-item" href="/dashboard">Home</a>
        <li class="sidebar-item">Shared with me</li>
        <li class="sidebar-item">Recent</li>
        <li class="sidebar-item">Starred</li>
        <li class="sidebar-item">Trash</li>
      </ul>
    </nav>
    <div class="storage">
      <p>0 MB of 500 MB used</p>
      <a href="#">Manage storage</a>
    </div>
  </aside>
  <div class="main-container">
    <header class="header">
      <div class="search-bar">
        <input type="text" placeholder="Search in Liformation" />
      </div>
      <div class="user-profile">
        <div class="avatar"></div>
        <div class="username">John Doe</div>
      </div>
    </header>

    <main class="main-content">
      <div class="upload-section">
        <app-upload
          (documentUploaded)="onDocumentUploaded($event)"
        ></app-upload>
      </div>
      <div class="document-list-section">
        <app-doc-list></app-doc-list>
      </div>
    </main>
  </div>
</div>
