<div class="documents-container">
  <div class="main-container">
    <main class="main-content">
      <section class="files-section">
        <div class="section-header">
          <h2>{{ folderName }}</h2>
        </div>
        <app-doc-list 
          [documents]="documents" 
          [loadedAll]="loadedAll" 
          (scroll)="onScroll()"
          *ngIf="!loading"
        ></app-doc-list>
        <div *ngIf="loading" class="progress">
          <p-progressSpinner strokeWidth="1"></p-progressSpinner>
        </div>
      </section>
    </main>
  </div>
</div>
