<div class="dashboard">
  <div class="main-container">
    <main class="main-content">

      <section class="recent-files-section">
        <h2>Recent Files</h2>
        <div class="recent-files-list">
          <app-doc-list 
          [documents]="documents" 
          [loadedAll]="loadedAll" 
          (scroll)="onScroll()"
          *ngIf="!loading"
        ></app-doc-list>
        <div *ngIf="loading" class="progress">
          <p-progressSpinner strokeWidth="1"></p-progressSpinner>
        </div>
        </div>
      </section>

    </main>
  </div>
</div>
